<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Testing">
   <parameter name="browser" value="chrome"></parameter>
	 

  <!--<groups>
  <define name="sprinttestcases">
  <include name="sanity"/>
  <include name="regression"/>
  
  
  
  </define>
  <run>
  <include name="sprinttestcases"/>
  </run>
  
  
  </groups>-->
    <classes>
      <!--class name="TestNG.Axis.testclass"/-->
      <class name="TestNG.Axis.invokeedge"/>
       <class name="TestNG.Axis.parameterisation"/>
       
      
      
    </classes>
  </test> <!-- Testing -->
</suite> <!-- Suite -->
